license-plate-object-detection/.ipynb_checkpoints/
license-plate-object-detection/datasets/
license-plate-object-detection/images-with-car-20220519T015533Z-001/
license-plate-object-detection/tfjs-yolov5-example/
license-plate-object-detection/website-react/
license-plate-object-detection/yolov5/
license-plate-object-detection/images-with-car-20220519T015533Z-001.zip